<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Color Admin | Blank Page</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!--css文件引入开始-->
	<#include "../commom-html/css.html">
	<!--css文件结束-->

</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- 顶部头部开始-->
		<#include "../commom-html/header.html">
		<!-- 顶部头部结束 -->

		<!-- begin #sidebar 左边菜单开始-->
		<#include "../commom-html/left_menu.html">
		<!-- end #sidebar---结束 -->
		
		<!-- begin #content -->
		<div id="content" class="content">

			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">权限管理 <small>管理员管理</small></h1>
			<!-- end page-header -->

			<div class="row">
				<!-- begin col-12 -->
				<div class="col-md-12">
					<!-- begin panel -->
					<div class="panel panel-inverse">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="panel-body">
							<div class="table-responsive">
								<a href="javascript:add();" class="btn btn-primary">新增</a>
								<table id="data-table" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>用户名</th>
											<th>角色</th>
											<th>email</th>
											<th>性别</th>
											<th>出生日期</th>
											<th>创建时间</th>
											<th>操作</th>
										</tr>
									</thead>
										<#list adminList as admin>
										<tr class="odd gradeX">
											<td>${admin.userName}</td>
											<td>${admin.roleName!}</td>
											<td>${admin.email}</td>
											<#if admin.gender == 0>
												<td>女</td>
											<#else>
												<td>男</td>
											</#if>
											<td>${(admin.birthday?string('yyyy-MM-dd'))!}</td>
											<td>${admin.createTime?string('yyyy-MM-dd')}</td>
											<td>
												<a href="javascript:edit('${admin.id}');" class="btn btn-info">修改</a>
												<a href="javascript:del('${admin.id}');" class="btn btn-danger">删除</a>
											</td>
										</tr>
										</#list>
									</tbody>
								</table>
								<!--分页-->
								<div class="dataTables_paginate paging_simple_numbers" id="data-table_paginate">
									<a href="${ctx}/admin/index.do" class="paginate_button previous ">首页</a>
									<span>
										<#list 1..pageInfo.pages as t>
											<a href="${ctx}/admin/index.do?pageNum=${t}" class="paginate_button <#if pageInfo.pageNum==t> current </#if>" >${t}</a>
										</#list>
                                    </span>
									<a href="${ctx}/admin/index.do?pageNum=pageInfo.pages" class="paginate_button next" >尾页</a>
								</div>
							</div>
						</div>
					</div>
					<!-- end panel -->
				</div>
				<!-- end col-12 -->
			</div>
		</div>
		<!-- end #content -->

		<div class="modal fade" tabindex="-1" role="dialog" id="formModel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">管理员管理</h4>
					</div>
					<div class="modal-body">
						<form id="dataForm">
							<input type="hidden" v-model="adminInfo.id" name="id">
							<div class="form-group">
								<label  class="control-label">用户名:</label>
								<input type="text" v-model="adminInfo.userName" class="form-control" name="userName">
							</div>
							<div class="form-group">
								<label class="control-label">Email:</label>
								<input type="text" v-model="adminInfo.email" class="form-control" name="email">
							</div>
							<div class="form-group">
								<label class="control-label">性别:</label>
								<input type="radio" v-model="adminInfo.gender" name="gender" value="1">男
								<input type="radio" v-model="adminInfo.gender" name="gender" value="0">女
							</div>
							<div class="form-group">
								<label class="control-label">出生日期:</label>
								<input v-model="adminInfo.birthday" type="hidden">
								<input type="text" class="form-control" name="birthday" autocomplete="off">
							</div>
							<div class="form-group">
								<label class="control-label">角色:</label>
								<input type="hidden" v-model="adminInfo.roleName" value="" name="roleName">
								<select @change="roleChange" class="form-control" v-model="adminInfo.roleId" name="roleId">
									<option v-for="(role,index) in roleList"  :value="role.id">{{ role.name }}</option>
								</select>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" onclick="save()" class="btn btn-primary">保存</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

        <!-- begin theme-panel -->
        <#include "../commom-html/theme_set.html">
        <!-- end theme-panel -->

		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
</body>
	<!--js文件引入开始-->
	<#include "../commom-html/js.html">
	<!--结束-->
	<script src="${ctx}/admin/premission/js/admin.js"></script>
	<script>
		$(document).ready(function() {
			App.init();
			$('input[name="birthday"]').datepicker({
				dateFormat: 'yy-mm-dd',
				onSelect:function(dateText,inst){
					vue.$data.adminInfo.birthday = dateText;
				}
			});
			//显示中文
			$.datepicker.setDefaults($.datepicker.regional['zh-CN']);
		});
	</script>
</html>
